name: Safe Proxy Collector

on:
  schedule:
    - cron: '0 */6 * * *' # Runs every 6 hours (Safe Interval)
  workflow_dispatch: # Manual trigger button

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: pip install aiohttp

    - name: Run Collector Script
      run: python main.py

    - name: Commit and Push
      run: |
        git config --global user.name "Network Bot"
        git config --global user.email "bot@github.com"
        git add mtproto.txt
        git commit -m "Auto Update: Fresh Proxies List" || echo "No changes to commit"
        git push
